{{- if .Values.istio.enabled -}}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ printf "%s-vs" (include "xwiki.fullname" .) }}
spec:
  hosts:
    - {{ .Values.istio.host | quote }}
  gateways:
    - {{ template "xwiki.istio.gatewayName" . }}
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            port:
              number: {{ .Values.service.externalPort }}
            host: {{ template "xwiki.fullname" . }}
          headers:
            request:
              set:
                # Required for some extensions (Realtime Editor/Websocket)
                x-forwarded-host: {{ .Values.istio.host | quote }}
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ printf "%s-dr" (include "xwiki.fullname" .) }}
spec:
  host: {{ template "xwiki.fullname" . }}
  trafficPolicy:
    loadBalancer:
      consistentHash:
      {{- with .Values.istio.httpCookie }}
        httpCookie:
          name: {{ .name }}
          path: {{ .path }}
          ttl: {{ .ttl }}
      {{- end }}
{{- end -}}
